<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zq.mapper.TaskInfoMapper">
  <resultMap id="BaseResultMap" type="com.zq.entity.TaskInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="is_finished" jdbcType="CHAR" property="isFinished" />
    <result column="dead_time" jdbcType="CHAR" property="deadTime" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_id, `name`, `desc`, status, is_finished, dead_time, is_delete, update_user, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_taskinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <update id="deleteByPrimaryKey" parameterType="java.lang.Long">
    update t_taskinfo set is_delete='1'
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.zq.entity.TaskInfo">
    insert into t_taskinfo (id, task_id, is_finished,
      dead_time, finish_time, is_delete, 
      update_user, update_time)
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{isFinished,jdbcType=CHAR}, 
      #{deadTime,jdbcType=CHAR}, #{finishTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=CHAR},
      #{updateUser,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zq.entity.TaskInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_taskinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isFinished != null">
        is_finished,
      </if>
      <if test="deadTime != null">
        dead_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="isFinished != null">
        #{isFinished,jdbcType=CHAR},
      </if>
      <if test="deadTime != null">
        #{deadTime,jdbcType=CHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zq.entity.TaskInfo">
    update t_taskinfo
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="desc != null">
        `desc` = #{desc},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="isFinished != null">
        is_finished = #{isFinished,jdbcType=CHAR},
      </if>
      <if test="deadTime != null">
        dead_time = #{deadTime,jdbcType=CHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=CHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
        update_time = now()
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zq.entity.TaskInfo">
    update t_taskinfo
    set task_id = #{taskId,jdbcType=BIGINT},
      is_finished = #{isFinished,jdbcType=CHAR},
      dead_time = #{deadTime,jdbcType=CHAR},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=CHAR},
      update_user = #{updateUser,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="queryTaskInfoById" resultMap="BaseResultMap">
    select ti.*, t.type
    from t_taskinfo ti join t_task t on ti.task_id=t.id
    where t.id = #{taskId} and ti.is_delete = '0' and t.is_delete='0'
  </select>
  <insert id="addUserToTaskInfo">
    insert into t_user_taskinfo(user_id, taskinfo_id, update_user) values ( #{userId}, #{taskInfoId}, #{updateUser})
  </insert>
  <update id="modifyDeadtime">
    update t_taskinfo set dead_time = #{deadTime}, update_user = #{updateUser} where id=#{taskInfoId}
  </update>
  <update id="modifyIsFinished">
    update t_taskinfo set is_finished = #{isFinished}, update_user = #{updateUser} where id=#{taskInfoId}
  </update>
  <select id="getUserListByTaskInfoId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select user_id from t_user_taskinfo where taskinfo_id = #{taskInfoId} and is_delete='0'
  </select>
  <select id="queryTaskInfoNameById" parameterType="java.lang.Long" resultType="java.lang.String">
    select `name` from t_taskinfo where id = #{taskInfoId} and is_delete = '0'
  </select>
</mapper>