<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>任务组</title>
</head>
<body>

<!--for 任务组-->
<div th:each="group : ${groupList}">
    <div class="row">
        <div class="col-md-1">
            <span class="badge badge-default">${group.name}</span>
        </div>
        <div class="col-md-1">
            <a th:href="/task/queryGroupInfoById/${group.id}" class="btn btn-block btn-link" type="button">团队详情</a>
        </div>
        <div class="col-md-10">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="jumbotron">
                <a id="modal-146791" href="#modal-container-146791" role="button" class="btn" data-toggle="modal">创建任务板</a>
            </div>
            <div class="modal fade" id="modal-container-146791" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel3">
                                Modal title
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="groupBtn">
                                Close
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="groupTaskContent" th:value="/task/queryTaskByGroupId/${group.id}"/>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(".groupTaskContent").load($(this).val());
    })
</script>
</body>
</html>