<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<span class="badge badge-default">个人任务</span>
<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <a id="modal-405462" href="#modal-container-405462" role="button" class="btn" data-toggle="modal">创建任务板</a>

            <div class="modal fade" id="modal-container-405462" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel2">
                                Modal title
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h2>
                站立会
            </h2>
            <p>
                每天汇报任务
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">任务详情</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-1">
        <span class="badge badge-default">团队名</span>
    </div>
    <div class="col-md-1">
        <span class="badge badge-default">团队详情</span>
    </div>
    <div class="col-md-10">
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="modal fade" id="modal-container-146791" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel3">
                            Modal title
                        </h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <div class="jumbotron">
            <a id="modal-146791" href="#modal-container-146791" role="button" class="btn" data-toggle="modal">创建任务板</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="jumbotron">
            <h2>
                站立会
            </h2>
            <p>
                每天汇报任务
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">任务详情</a>
            </p>
        </div>
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
</div>
<a id="modal-429553" href="#modal-container-429553" role="button" class="btn" data-toggle="modal">创建任务组</a>

<div class="modal fade" id="modal-container-429553" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Modal title
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>

    </div>

</div>

</body>
</html>