<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<span class="badge badge-default">个人任务</span>
<div class="row">
    <div class="col-md-3">
        <div class="jumbotron">
            <a id="modal-405462" href="#modal-container-405462" role="button" class="btn" data-toggle="modal">创建任务板</a>

            <div class="modal fade" id="modal-container-405462" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel2">
                                Modal title
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!--for 任务-->
    <div th:each="${personalTask : personalTaskList}">
        <div class="col-md-3">
        <div class="jumbotron">
            <h2>${personalTask.name}</h2>
            <p>${personalTask.description}</p>
            <p>
                <a class="btn btn-primary btn-large" href="/task/query/${personalTask.id}">任务详情</a>
            </p>
        </div>
    </div>
    </div>
</div>
<hr>
<!--for 任务组-->
<div th:each="group : ${groupList}">
    <div class="row">
        <div class="col-md-1">
            <span class="badge badge-default">${group.name}</span>
        </div>
        <div class="col-md-1">
            <a th:href="/task/queryGroupInfoById/${group.id}" class="btn btn-block btn-link" type="button">团队详情</a>
        </div>
        <div class="col-md-10">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="jumbotron">
                <a id="modal-146791" href="#modal-container-146791" role="button" class="btn" data-toggle="modal">创建任务板</a>
            </div>
            <div class="modal fade" id="modal-container-146791" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="myModalLabel3">
                                Modal title
                            </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!--for 任务-->
        <div th:each="task : ${group.taskList}">
            <div class="col-md-3">
            <div class="jumbotron">
                <h2>${task.name}</h2>
                <p>${task.description}</p>
                <p>
                    <a class="btn btn-primary btn-large" href="/task/query/${task.id}">任务详情</a>
                </p>
            </div>
        </div>
        </div>
    </div>
</div>
<!--创建后进入后台，返回前端刷新页面-->
<a id="modal-429553" href="#modal-container-429553" role="button" class="btn" data-toggle="modal">创建任务组</a>
<div class="modal fade" id="modal-container-429553" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">
                    Modal title
                </h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary">
                    Save changes
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>

    </div>
</div>

</body>
</html>